*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

:root {
  --primary-color: #2196f3;
  --primary-color-light: #e3f2fd;
  --primary-color-dark: #195a8b; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  width: 100%;
  min-height: 100vh;
  font-family: 'Titillium Web', sans-serif; }

span.text-login {
  font-size: 3.8rem; }

.btn {
  padding: 1.25rem 3rem;
  background-color: var(--primary-color-dark);
  border-radius: 5px;
  color: #fff;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.2s; }
  .btn:hover {
    background-color: var(--primary-color);
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
    transform: translateY(-5px); }

.btn--login {
  outline: none;
  border: 0;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  position: relative; }

.login {
  height: 35rem;
  width: 30rem;
  display: grid;
  grid-template-rows: repeat(4, 6rem);
  grid-row-gap: 2rem;
  justify-items: center;
  padding: 7.5rem 5rem;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0 2rem 4rem rgba(255, 255, 255, 0.25); }

.input__container {
  position: relative;
  margin-bottom: 25px;
  width: 80%; }
  .input__container label {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 2rem;
    color: #000;
    transition: all 0.2s ease-in-out; }
  .input__container input {
    border: 0;
    border-bottom: 1px solid #555;
    font-size: 2rem !important;
    background: transparent;
    width: 100%;
    padding: 8px 0 5px 0;
    font-size: 16px;
    color: #000; }
    .input__container input:focus {
      border: none;
      outline: none;
      border-bottom: 1px solid var(--primary-color); }

.input__container input:focus ~ label,
.input__container input:valid ~ label {
  top: -12px;
  font-size: 12px; }

.logobox__image {
  height: 20vw; }

.logobox__caption {
  font-size: xx-large;
  font-weight: 200;
  line-height: 1;
  text-align: center;
  font-size: 2vw; }
  .logobox__caption--main {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 5vw;
    letter-spacing: 3.5rem;
    margin-left: 3.5rem;
    color: #111; }
    @supports (background-clip: text) or (-webkit-background-clip: text) {
      .logobox__caption--main {
        background-image: url(../Img/theme/low-poly-grid-haikei.svg);
        background-clip: text;
        background-size: cover;
        -webkit-background-clip: text;
        color: transparent; } }

.home__header {
  display: flex;
  justify-content: center;
  align-items: center; }

.home__header > .logobox__image {
  height: 20vw; }

.home__header > .logobox__caption {
  font-weight: 200;
  font-size: 2vw; }
  .home__header > .logobox__caption--main {
    font-size: 10vw;
    letter-spacing: 3.5rem;
    margin-left: 3.5rem;
    color: #111; }
    @supports (background-clip: text) or (-webkit-background-clip: text) {
      .home__header > .logobox__caption--main {
        background-image: url(../Img/theme/low-poly-grid-haikei.svg);
        background-clip: text;
        background-size: cover;
        -webkit-background-clip: text;
        color: transparent; } }

.home {
  display: grid;
  grid-template-rows: 100vh; }

.login__content {
  height: 100vh;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(2, 1fr);
  background-size: cover;
  overflow: hidden; }
  .login__content > * {
    display: flex;
    justify-content: center;
    align-items: center; }
  .login__content--logobox {
    background-color: #fff;
    height: 100vh;
    box-shadow: 0 0 4rem rgba(255, 255, 255, 0.5);
    z-index: 20;
    flex-direction: column; }
  .login__content--form {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../Img/theme/low-poly-grid-haikei-light.svg);
    background-size: cover;
    z-index: 10;
    scale: 1.1; }
