*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

:root {
  --primary-color: #2196f3;
  --primary-color-light: #e3f2fd;
  --primary-color-dark: #195a8b; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  width: 100%;
  min-height: 100vh;
  font-family: 'Titillium Web', sans-serif; }

.err__register {
  color: red;
  margin-top: 3px;
  margin-bottom: 1rem; }
  .err__register ul {
    list-style: none; }

.err > input[type='password'],
.err > input[type='text'] {
  background-color: rgba(255, 0, 0, 0.25);
  border-bottom: 3px solid red; }

span.text-login {
  font-size: 3.8rem; }

.btn {
  padding: 1.25rem 3rem;
  background-color: var(--primary-color-dark);
  border-radius: 5px;
  color: #fff;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.2s; }
  .btn:hover {
    background-color: var(--primary-color);
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
    transform: translateY(-5px); }

.btn--login {
  outline: none;
  border: 0;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  position: relative; }

.login {
  min-height: 35rem;
  width: 30rem;
  display: grid;
  grid-template-rows: repeat(4, minmax(6rem, max-content));
  grid-row-gap: 2rem;
  justify-items: center;
  padding: 7.5rem 5rem;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0 2rem 4rem rgba(255, 255, 255, 0.25); }
  .login a:link,
  .login a:visited {
    color: #222;
    text-decoration: none;
    transition: all 0.2s; }
  .login a:hover {
    color: var(--primary-color); }

.input__container {
  position: relative;
  width: 80%; }
  .input__container label {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 2rem;
    color: #000;
    transition: all 0.2s ease-in-out; }
  .input__container input {
    border: 0;
    border-bottom: 1px solid #555;
    font-size: 2rem !important;
    background: transparent;
    width: 100%;
    padding: 8px 0 5px 0;
    font-size: 16px;
    color: #000; }
    .input__container input:focus {
      border: none;
      outline: none;
      border-bottom: 1px solid var(--primary-color); }

.input__container input:focus ~ label,
.input__container input:valid ~ label {
  top: -12px;
  font-size: 12px; }

.logobox__image {
  height: 20vw; }

.logobox__caption {
  font-size: xx-large;
  font-weight: 200;
  line-height: 1;
  text-align: center;
  font-size: 2vw; }
  .logobox__caption--main {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 5vw;
    letter-spacing: 3.5rem;
    margin-left: 3.5rem;
    color: #111; }
    @supports (background-clip: text) or (-webkit-background-clip: text) {
      .logobox__caption--main {
        background-image: url(../Img/theme/low-poly-grid-haikei.svg);
        background-clip: text;
        background-size: cover;
        -webkit-background-clip: text;
        color: transparent; } }

.dashboard__menu {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: minmax(5rem, max-content);
  grid-gap: 1rem;
  align-content: start;
  align-items: center;
  list-style: none; }
  .dashboard__menu > li {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
    font-size: 2rem; }
    .dashboard__menu > li > * {
      padding: 0 4rem; }
    .dashboard__menu > li > ul {
      box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.1); }
      .dashboard__menu > li > ul > * {
        padding: 0.5rem 0; }
  .dashboard__menu a:link, .dashboard__menu a:visited {
    color: #222;
    text-decoration: none;
    transition: all 0.2s; }
  .dashboard__menu a:hover {
    color: var(--primary-color); }

.submenu {
  width: calc(100%-4rem);
  list-style: none;
  background: whitesmoke; }

.dashboard__home {
  height: 90vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(15rem, max-content)) repeat(4, minmax(10rem, 1fr)) 1fr;
  grid-template-rows: repeat(3, 25vh);
  justify-content: center;
  align-content: center;
  grid-gap: 1.5rem; }
  .dashboard__home > * {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.48);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
    border: 1px solid rgba(255, 255, 255, 0.23); }

.dashboard__smallitem {
  display: grid;
  grid-template-columns: 1fr minmax(5rem, 25rem) minmax(5rem, 25rem) 1fr;
  justify-items: center;
  align-items: center; }
  .dashboard__smallitem span {
    font-size: 2vw;
    grid-column: 3/4;
    justify-self: start; }
  .dashboard__smallitem .dashboard__icon {
    height: 6vh;
    grid-column: 2/3; }

.dashboard__entry-list {
  grid-column: 2/4;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(5rem, 7rem) 1fr; }
  .dashboard__entry-list span {
    justify-self: center;
    align-self: center;
    font-size: 2.5rem;
    grid-column: 2/3;
    grid-row: 1/2; }

.dashboard__users {
  grid-column: 4/6;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: minmax(5rem, 7rem) 1fr; }
  .dashboard__users .dashboard__icon {
    height: 100%;
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/2; }
  .dashboard__users span {
    justify-self: center;
    align-self: center;
    font-size: 2.5rem;
    grid-column: 3/6;
    grid-row: 1/2; }

.dashboard__settings {
  grid-column: 6/8;
  grid-row: 1/2; }

.dashboard__add-entry {
  grid-column: 4/6;
  grid-row: 2/3; }

.dashboard__edit-entry {
  grid-column: 6/8;
  grid-row: 2/3; }

.dashboard__analytics {
  grid-column: 4/8;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr minmax(5rem, 25rem) minmax(5rem, 25rem) 1fr;
  justify-items: center;
  align-items: center; }
  .dashboard__analytics span {
    font-size: 2.3vw;
    grid-column: 3/4; }
  .dashboard__analyticsIcon {
    height: 11vh;
    grid-column: 2/3; }

.dashboard__itemContent {
  grid-column: 1/-1;
  grid-row: 2/-1;
  padding: 2rem; }
  .dashboard__itemContent--item {
    display: grid;
    grid-template-columns: minmax(1rem, 10%) minmax(3rem, 75%) minmax(2rem, 20%); }
  .dashboard__itemContent--entry {
    display: grid;
    grid-template-columns: minmax(5rem, 75%) minmax(5rem, 25%);
    grid-column-gap: 10%; }

.dashboard__link:link, .dashboard__link:visited {
  color: #222;
  text-decoration: none;
  grid-column: 2/3;
  transform: all 0.2s; }

.dashboard__link:hover {
  color: var(--primary-color); }

.add-entry__container {
  display: grid;
  grid-template-columns: 1fr repeat(6, 1fr) 1fr;
  width: 100%;
  min-height: 100vh; }
  .add-entry__container form {
    grid-column: 2/8;
    margin: 5rem 0;
    display: grid;
    grid-template-columns: 1fr repeat(6, 1fr) 1fr;
    grid-template-rows: minmax(5rem, 7rem) minmax(2rem, 5rem) 1fr minmax(1rem, 3rem);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    padding: 3rem;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.48);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
    border: 1px solid rgba(255, 255, 255, 0.23); }
    .add-entry__container form .photo__preview {
      background-color: gray;
      height: 14vh;
      width: 14vw; }
    .add-entry__container form .caption {
      grid-row: 1/2;
      grid-column: 1/-1;
      justify-self: center;
      align-self: center;
      font-size: 4rem; }
    .add-entry__container form #title {
      grid-row: 2/3;
      grid-column: 1/7;
      font-size: 2.5rem; }
    .add-entry__container form .side-bar {
      grid-row: 3/4;
      grid-column: 7/-1; }
    .add-entry__container form #input_content {
      grid-row: 3/4;
      grid-column: 1/7;
      resize: none;
      min-height: 100%; }
    .add-entry__container form #categories {
      grid-row: 3/4;
      grid-column: 7/-1; }
    .add-entry__container form input[type='submit'] {
      grid-row: 4/5; }

.aticles {
  width: 100%;
  display: grid;
  grid-auto-rows: max-content;
  justify-content: center; }

.article {
  width: 45vw;
  display: grid;
  grid-template-rows: repeat(4, max-content);
  grid-gap: 1rem;
  justify-content: center;
  align-content: center;
  background: rgba(255, 255, 255, 0.59);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);
  border: 1px solid white;
  border-radius: 15px;
  padding: 6rem 5rem;
  margin-bottom: 5rem; }
  .article__heading {
    font-size: x-large; }
  .article__photo {
    width: 100%;
    padding-bottom: 3.5rem; }
  .article__contnet {
    font-size: 2rem;
    text-align: justify;
    hyphens: auto; }

.edit {
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: none;
  color: var(--primary-color);
  margin-top: 2rem;
  font-size: 1.6rem; }
  .edit:hover {
    scale: 1.1;
    color: var(--primary-color-dark); }

.home__header {
  display: flex;
  justify-content: center;
  align-items: center; }

.home__header > .logobox__image {
  height: 20vw; }

.home__header > .logobox__caption {
  font-weight: 200;
  font-size: 2vw; }
  .home__header > .logobox__caption--main {
    font-size: 10vw;
    letter-spacing: 3.5rem;
    margin-left: 3.5rem;
    color: #111; }
    @supports (background-clip: text) or (-webkit-background-clip: text) {
      .home__header > .logobox__caption--main {
        background-image: url(../Img/theme/low-poly-grid-haikei.svg);
        background-clip: text;
        background-size: cover;
        -webkit-background-clip: text;
        color: transparent; } }

.home {
  display: grid;
  grid-template-rows: 100vh; }

.login__content {
  height: 100vh;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(2, 1fr);
  background-size: cover;
  overflow: hidden; }
  .login__content > * {
    display: flex;
    justify-content: center;
    align-items: center; }
  .login__content--logobox {
    background-color: #fff;
    height: 100vh;
    box-shadow: 0 0 4rem rgba(255, 255, 255, 0.5);
    z-index: 20;
    flex-direction: column; }
  .login__content--form {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../Img/theme/low-poly-grid-haikei-light.svg);
    background-size: cover;
    z-index: 10;
    scale: 1.1; }

.dashboard {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url(../Img/theme/low-poly-grid-haikei-light.svg);
  background-size: cover;
  display: grid;
  grid-template-columns: minmax(16.5rem, 25rem) 1fr; }
  .dashboard > .dashboard__nav {
    height: 100vh;
    background: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); }
  .dashboard > .dashboard__content {
    height: 100vh;
    width: 100%; }

.menu__logo {
  width: 100%;
  background: white;
  box-shadow: 0 0px 3rem rgba(0, 0, 0, 0.1);
  display: flex;
  padding-bottom: 1rem; }
  .menu__logo--img {
    width: 50%;
    padding: 1rem;
    margin: 0 auto; }
