.home__header {
  @include center;
}
.home__header > .logobox {
  &__image {
    height: 20vw;

    // width: 5rem;
  }
  &__caption {
    font-weight: 200;
    font-size: 2vw;
    &--main {
      font-size: 10vw;
      letter-spacing: 3.5rem;
      margin-left: 3.5rem;

      @supports (background-clip: text) OR (-webkit-background-clip: text) {
        background-image: url(../Img/theme/low-poly-grid-haikei.svg);
        background-clip: text;
        background-size: cover;
        -webkit-background-clip: text;
        color: transparent;
      }

      color: #111;
    }
  }
}
