*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #2196f3;
  --primary-color-light: #e3f2fd;
  --primary-color-dark: #195a8b;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  width: 100%;
  min-height: 100vh;
  font-family: 'Titillium Web', sans-serif;
  // background-color: aliceblue;
  // background-image: url(../../Img/theme/beanstalk_con.webp);
}

//

.err {
  // margin-bottom: 0.5rem;
  &__register {
    // margin-left: 3rem;
    color: red;
    margin-top: 3px;
    margin-bottom: 1rem;
    & ul {
      list-style: none;
    }
  }
  & > input[type='password'],
  & > input[type='text'] {
    background-color: rgba(red, $alpha: 0.25);
    border-bottom: 3px solid red;
  }
}

input[type='submit'],
.btn-profile {
  padding: 0.25rem 3rem;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 50px;
  //   margin-right: 2rem;
  margin-bottom: 1rem;
  @media only screen and (max-width: 54.75em) {
    padding: 0.25rem 1.5rem;
  }
  // @media only screen and (max-width: 20em) {
  //   padding: 0.25rem 1.5rem;
  // }
}

.show_more {
  border: none;
  font-size: 1.6rem;
  margin-left: 0.5rem;
  background-color: transparent;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--primary-color);
  &:hover {
    letter-spacing: 0;
    font-weight: 600;
  }
}

a:link,
a:visited {
  color: #222;
  text-decoration: none;
}

textarea {
  word-wrap: break-word !important;
}
